#!/bin/bash

# Script to add provisioning interface to brovc

set -eux

# Add static ip to nic on provisioning network
{% if virthost_provisioning_vlan is defined %}
sudo cat > /etc/sysconfig/network-scripts/ifcfg-{{ virthost_provisioning_interface }} << EOF
DEVICE={{ virthost_provisioning_interface }}
TYPE=Ethernet
BOOTPROTO=none
ONBOOT=yes
NM_CONTROLLED=no
HWADDR={{ virthost_provisioning_hwaddr }}
EOF

sudo cat > /etc/sysconfig/network-scripts/ifcfg-{{ virthost_provisioning_vlan }} << EOF
DEVICE={{ virthost_provisioning_vlan }}
BOOTPROTO=none
ONBOOT=yes
IPADDR={{ virthost_provisioning_ip }}
NETMASK={{ virthost_provisioning_netmask }}
NETWORK={{ virthost_provisioning_network }}
VLAN=yes
NM_CONTROLLED=no
EOF
{% else %}
sudo cat > /etc/sysconfig/network-scripts/ifcfg-{{ virthost_provisioning_interface }} << EOF
TYPE=Ethernet
NAME={{ virthost_provisioning_interface }}
IPADDR={{ virthost_provisioning_ip }}
NETMASK={{ virthost_provisioning_netmask }}
NM_CONTROLLED=no
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
ONBOOT=yes
HWADDR={{ virthost_provisioning_hwaddr }}
PEERDNS=yes
PEERROUTES=yes
IPV6_PEERDNS=yes
IPV6_PEERROUTES=yes
EOF
{% endif %}

# Add provisioning interface to the "brovc" bridge
{% if virthost_provisioning_vlan is defined %}
# Bring the nic down first
sudo ifdown {{ virthost_provisioning_interface }}
sudo ifdown {{ virthost_provisioning_vlan }}

sudo ifup {{ virthost_provisioning_interface }}
sudo ifup {{ virthost_provisioning_vlan }}
sudo brctl addif brovc {{ virthost_provisioning_vlan }}
{% else %}
# Bring the nic down first
sudo ifdown {{ virthost_provisioning_interface }}

# Bring the nic up again
sudo ifup {{ virthost_provisioning_interface }}

sudo brctl addif brovc {{ virthost_provisioning_interface }}
{% endif %}

